<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Olá mundo!</h2>
  <h4> Quem sou eu?</h4>
  <div class="summary">
    <p>Membro do Departamento de Engenharia da empresa <strong><a href="processasistemas.com.br">Processa Sistemas.</a>
    </strong> Trabalho com a aplicação da Engenharia de Software no dia-a-dia, tanto nas tarefas de manutenção e correção,
      quanto nas de planejamento e desenvolvimento.
    </p>
  </div>
  <!--//summary-->
</section>
<!--//section-->
