<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiência</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Programador</h3>
                <div class="time">2014 - Present</div>
            </div>
            <!--//upper-row-->
            <div class="company">Processa Sistemas, Juiz de Fora</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p> Planejamento, desenvolvimento, manutenção e refatoração de sistemas desktop e web, orientados a
                objetos e com a utilização de Padrões de Projetos. </p>
            <p><strong>Linguagens:</strong> C#, Java, Javascript (Node js + Frameworks) </p>
            <p><strong>DB's:</strong> Sql Server, Postgresql, MongoDb, Exist-db </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Designer Gráfico</h3>
                <div class="time">2014 - 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">Imagem Letreiros, Juiz de Fora</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Criação de conteúdo relacionado à comunicação visual (letreiros, banners,
                totens, flyers, panfletos, logomarcas, placas, adesivos...)</p>
            <p><strong>Ferramentas:</strong> Corel Draw, Adobe Illustrator, Adobe Photoshop </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

</section>
<!--//section-->
