<section class="skills-section section">
  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
  <div class="skillset">
    <h4>Desenvolvimento:</h4>

    <div class="item">
      <h3 class="level-title">C, C++</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="50%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">VB6</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="45%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">C#</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="95%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Java</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="92%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">SQL Server</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="76%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Postgresql</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">MongoDb</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Exist-db</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="55%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">HTML5 &amp; CSS3</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">PHP</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="50%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Javascript</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">JQuery</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Node js (Express)</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="78%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Ember js</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="85%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <br />
    <h4>Design:</h4>

    <div class="item">
      <h3 class="level-title">Inkscape</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="88%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Corel Draw</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Adobe Photoshop</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    
    <div class="item">
      <h3 class="level-title">Adobe Illustrator</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="60%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    
    <br />
    <h4>Em andamento:</h4>

    <div class="item">
      <h3 class="level-title">React js</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="5%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Typescript</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="10%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <br />
    <h4>Na fila:</h4>

    <div class="item">
      <h3 class="level-title">Python</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="0%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Ruby</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="5%">
        </div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

  </div>
</section>
<!--//skills-section-->
